ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.section-one {
    background-color: #1f2937;
    height: 500px;
}

.section-two {
    background-color: #f9faf8;
    height: 500px;
}

.section-three {
    background-color: #e5e7eb;
    height: 500px;
}

.section-four {
    background-color: #f9faf8;
    height: 500px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
}